:root {
  --accent-color: #ff6f3c;
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --link-border: 2px solid;
  --title-font: "Abril Fatface", cursive;
  --all-over-font: "Roboto Slab", serif;
}

.bg-branding {
  background-color: var(--accent-color);
}
.navbar-brand {
  font-family: var(--title-font);
}
.nav-item {
  font-family: var(--all-over-font);
}

h1 {
  font-family: var(--all-over-font);
  font-size: 50px !important;
  padding: 50px 20px 20px 20px;
  font-weight: bold;
}

h3 {
  padding: 10px 20px 40px 20px;
  font-family: var(--all-over-font);
}

.profession-1 {
  color: #39ff14;
}

.profession-2 {
  color: #ff008e;
}

.hero {
  background-color: #fcffc1;
  border-radius: 10px;
  margin: 30px;
}

p {
  font-family: var(--all-over-font);
}

.d-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: var(--all-over-font);
}

.col-md-6 {
  padding: 25px;
  border-radius: 10px;
  background-color: #f7f7e8;
}

.row {
  padding: 15px;
}

.about-link {
  color: black;
  padding: 15px;
  border: solid 2px var(--accent-color);
  margin: 10px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}

.contact-link {
  color: black;
  padding: 15px;
  border: solid 2px var(--accent-color);
  margin: 10px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}

.index img {
  width: 450px;
}

.heading {
  padding: 60px 0px 0px 0px;
}

.about {
  display: flex;
}

.about-paragraph {
  padding: 15px 20px;
}

.about-pic img {
  width: 200px;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact-section {
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}

.email {
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
}
