:root {
  --accent-color: #ff6f3c;
  --background-color: #fffdde;
  --neon-pink: #ff008e;
  --neon-green: #39ff14;
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --link-border: 2px solid;
  --title-font: "Playfair Display", serif;
  --all-over-font: "Roboto Slab", serif;
}

@media (max-width: 576px) {
  p {
    font-size: 20px;
  }

  h1 {
    font-size: 50px;
  }

  .about-section {
    margin: 0;
    text-align: center;
  }
}

.bg-branding {
  background-color: var(--accent-color);
}
.navbar-brand {
  font-family: var(--title-font);
  padding: 0px 250px 0px 10px;
}
.nav-item {
  font-family: var(--all-over-font);
  padding: 0px 20px;
}

.nav-link {
  color: white !important;
  text-align: right !important;
}

.active {
  font-weight: bold;
}

h1 {
  font-family: var(--title-font);
  font-size: 50px !important;
  padding: 20px;
}

h3 {
  font-family: var(--all-over-font);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  flex-direction: row;
  padding: 30px 120px;
  font-family: var(--all-over-font);
  background-color: var(--background-color);
  border-radius: 10px;
}

footer .contact-box .btn {
  padding: 15px 20px;
  border-radius: 10px;
  background-color: var(--accent-color);
  color: white;
}

footer .contact-box p {
  padding: 5px;
  margin: 0;
}

footer h4 {
  font-family: var(--title-font);
  font-size: 40px;
}
footer .email-link {
  text-decoration: none;
  display: block;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: var(--all-over-font);
}
footer .email-link:hover {
  color: var(--neon-pink);
}

footer .social-links a {
  text-decoration: none;
  color: var(--accent-color);
  background-color: var(--background-color);
  font-size: 20px;
  margin: 0 20px;
  padding: 10px 14px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: var(--background-color);
  background-color: var(--accent-color);
}

.profession-1 {
  color: var(--neon-green);
}

.profession-2 {
  color: var(--neon-pink);
}

.hero {
  border: black solid 8px;
  margin: 50px 30px 30px 30px;
}

p {
  font-family: var(--all-over-font);
}

.hero .d-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: var(--all-over-font);
}

.row {
  padding: 15px;
}

.index-link {
  color: black;
  padding: 15px;
  border: solid 2px var(--accent-color);
  margin: 10px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}

.index-link:hover {
  background-color: var(--accent-color);
  color: white;
}

.index img {
  width: 450px;
}

.col-md-6 {
  padding: 0px 40px !important;
}

.description {
  text-decoration: underline var(--neon-pink);
}
.about-paragraph {
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}

#headshot {
  width: 350px;
  border: black solid 8px;
  padding: 15px;
  margin: 70px 0px;
}

.languages {
  display: flex;
  flex-direction: column;
  justify-content: left !important;
  font-family: var(--all-over-font);
  font-size: 20px;
  padding: 20px;
  margin: 40px 40px;
  border: solid 1px var(--accent-color);
  border-radius: 10px;
  color: var(--neon-pink);
}

.languages-heading {
  font-size: 30px;
  padding: 10px 0px 20px 0px;
  font-weight: bold;
}

.german {
  color: var(--neon-green);
}

.project-heading {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 40px;
}

.project {
  background-color: var(--background-color);
  padding: 30px;
  margin: 30px;
  border-radius: 10px;
  border: solid 1px var(--accent-color);
}

.fa-laptop-code {
  font-size: 45px;
  padding: 0px 10px;
}

.app-pic {
  width: 400px;
  display: flex;
  justify-content: center;
}

.app-name {
  font-family: var(--all-over-font);
  font-size: 20px;
  padding: 10px 0px;
  font-weight: bold;
}

.launch {
  color: var(--neon-green);
  margin: 20px 0px;
  text-decoration: none;
  font-weight: bold;
}

.contact-media {
  display: flex;
  flex-direction: column;
  border: black solid 8px;
  padding: 20px;
}

.contact-media a {
  text-decoration: none;
  color: var(--neon-green);
}

.social-media {
  font-family: var(--all-over-font);
  font-weight: bold;
  color: var(--neon-pink);
}
